$violet: rgb(59, 147, 242);
$yellow: #F9C802;
$bcolor: rgb(55, 103, 173);
$waterInGlass: #2196F3;
$glass: #ECEFF1;
@mixin btnStyle {
    width: 150px;
  height: 30px;
  border: 1px solid  $glass;
  border-radius: 5px;
  margin: 20px auto 0;
}