$violet: rgb(59, 147, 242);
$yellow: #F9C802;
$bcolor: rgb(71, 137, 235);
$waterInGlass: #2196F3;
$glass: #ECEFF1;
@mixin btnStyle {
    width: 170px;
  height: 35px;
  border: 1px solid  $glass;
  border-radius: 5px;
  margin: 20px auto 0;
}
@mixin btnShadow {
    box-shadow:3px 3px 5px;
}