@import "_normalize";
@import "_variables";

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $yellow;
  background: $violet;
  width: 100%;
  height: 100%;
}
.cont {
  background-color: $bcolor;
  height: 100%;
  width: 320px;
  margin: auto auto;
  padding: 20px 20px;
  &__header {
    text-align: center;
    padding: 30px 10px 10px;
  }
  &__header--h1 {
    margin: 0;
    padding: 10rem auto;
  }
  &__glass {
    // cz glowna z szklanką w vsg
    text-align: center;
  }
}
.svg__glass {
  width: 280px;
  height: 280px;
  padding: auto auto;
  // margin-top: 1rem;
  margin-bottom: 2rem;
  fill: none;

  &--water {
    fill: $waterInGlass;
  }
  &--glass {
    fill: $glass;
  }
}
.btnCont {
  width: 100%;

  margin-bottom: 15px;
  display: flex;
  flex-direction: column;

  &__addGlass {
    @include btnStyle;
    @include btnShadow;
  }
  &__subtractGlass {
    @include btnStyle;
    @include btnShadow;
    border-bottom: 10px;
  }
}
.foter {
  min-height: 45px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.svg{
  height: 45px;
  width: 45px;
}
.Capa_1{
  height: 45px;
  width: 45px;
  overflow: hidden;
}
.tols {
  fill: white;
  width: 32px;
  height: 32px;
}
