@import "_normalize";
@import "_variables";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $yellow;
  background: $violet;
  width: 100%;
  height: 100%;
}
.cont {
  background-color: $bcolor;
  height: 812px;
  width: 375px;
  margin: auto auto;
  padding: 20px 20px;
  &__header{
  text-align: center;
  padding: 30px 10px;
  }
  &__header--h1{
    margin: 0;
    padding: 10rem auto;
  }
  &__glass{
    // cz glowna z szklanką w vsg
text-align: center;
  }
}
.svg__glass {
  width: 280px;
  height: 280px;
  padding: auto auto;
  margin-top: 3rem;
  fill: none;
  &--water{
    fill: $waterInGlass;
  }
  &--glass{
    fill: $glass;

  }
}
.btnCont{
height: 100px;
width: 100%;
margin: 20px auto;
display: flex;
flex-direction: column;

&__addGlass{
  width: 150px;
  // height: 100px;
  border: 1px solid  $glass;
  border-radius: 10px;
margin: 20px auto;
}
&__subtractGlass{
  width: 150px;
  // height: 100px;
  border: 1px solid  $glass;
  border-radius: 10px;
  margin: 20px auto;

}
}
